{% from 'home/macros/macros.html' import data_breadcrumb %}
{% extends "layouts/base.html" %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/vendors/linericon/style.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/vendors/lightbox/simpleLightbox.css">
    <!-- main css -->
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/style.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/responsive.css">

{% endblock stylesheets %}

{% block content %}

    {% include 'includes/header.html' %}
    <!--================Breadcrumb Area =================-->
    {{ data_breadcrumb(templateName) }}
    <!--================Breadcrumb Area =================-->

    <!--================Gallery Area =================-->
    <section class="gallery_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                <h2 class="title_color">Royal Hotel Gallery</h2>
                <p>Who are in extremely love with eco friendly system.</p>
            </div>
            <div class="row imageGallery1" id="gallery">
                {% for i in range(1, 10)%}
                <div class="col-md-4 gallery_item">
                    <div class="gallery_img">
                        <img src="{{ config.ASSETS_ROOT }}/image/gallery/0{{i}}.jpg" alt="">
                        <div class="hover">
                            <a class="light" href="{{ config.ASSETS_ROOT }}/image/gallery/0{{i}}.jpg"><i class="fa fa-expand"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--================Gallery Area =================-->
    
    {% include 'includes/footer.html' %}



{% endblock content %}

{% block javascripts %}
	<script src="{{ config.ASSETS_ROOT }}/js/jquery-3.2.1.min.js"></script>
	<script src="{{ config.ASSETS_ROOT }}/js/popper.js"></script>
	<script src="{{ config.ASSETS_ROOT }}/js/bootstrap.min.js"></script>
	<script src="{{ config.ASSETS_ROOT }}/vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="{{ config.ASSETS_ROOT }}/js/jquery.ajaxchimp.min.js"></script>
	<script src="{{ config.ASSETS_ROOT }}/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
	<script src="{{ config.ASSETS_ROOT }}/vendors/nice-select/js/jquery.nice-select.js"></script>
	<script src="{{ config.ASSETS_ROOT }}/js/mail-script.js"></script>
	<script src="{{ config.ASSETS_ROOT }}/js/stellar.js"></script>
	<script src="{{ config.ASSETS_ROOT }}/vendors/lightbox/simpleLightbox.min.js"></script>
	<script src="{{ config.ASSETS_ROOT }}/js/custom.js"></script>
{% endblock javascripts %}

<!-- Specific Page JS goes HERE  -->

