{% from 'macros/macros.html' import data_breadcrumb %}
{% extends "layouts/base.html" %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/vendors/linericon/style.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/vendors/owl-carousel/owl.carousel.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/style.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/responsive.css">


{% endblock stylesheets %}

{% block content %}

    {% include 'includes/header.html' %}

    <!--================magazine Categorie Area =================-->
    {{ data_breadcrumb(templateName) }}
    <!--================magazine Categorie Area =================-->
    
    <!--================magazine Area =================-->
    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog_left_sidebar">
                        <div class="comment-form" style="border: 3px solid #ccc;">
                            <h4>매거진 글 작성</h4>
                            <form role="form" method="post" class="post-form" enctype="multipart/form-data">
                                <div class="form-group form-inline">
                                  <div class="form-group col-lg-8 col-md-8">
                                    <input type="text" name="title" value="" id="magazine-title" style="border: 3px solid #ccc;" placeholder="제목을 입력하세요" required>
                                  </div>
                                  <br><br/>
                                  <div class="form-group col-lg-8 col-md-8">
                                    <label><input type="radio" name="themaName" value="여행" style="border: 3px solid #ccc;" checked> 여행 &nbsp;&nbsp;</label>
                                    <label><input type="radio" name="themaName" value="미식" style="border: 3px solid #ccc;"> 미식 &nbsp;&nbsp;</label>
                                    <label><input type="radio" name="themaName" value="숙소" style="border: 3px solid #ccc;"> 숙소 &nbsp;&nbsp;</label>
                                  </div>										
                                </div>
                                <div class="form-group" contenteditable="true" value="" name="content" id="magazine-content" style="border: 3px solid #ccc; min-height: 30em" required>
                                </div>
                                <div class="form-group">
                                    <input type="file" accept="image/*" name="file" value="" style="border: 3px solid #ccc;" id="magazine-file" >
                                </div>
                                <div class="form-group">
                                    <input type="text" name="tag" value="" style="border: 3px solid #ccc;" id="magazine-tag" placeholder="해시태그를 입력하세요">
                                </div>                                  
                                <button type="submit" name="magazine" class="btn btn-outline-warning waves-effect" id="magazine-button"> 등록하기</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--================magazine Area =================-->
    
    {% include 'includes/footer.html' %}


{% endblock content %}

{% block javascripts %}

    <script src="{{ config.ASSETS_ROOT }}/js/jquery-3.2.1.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/popper.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/bootstrap.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/jquery.ajaxchimp.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/mail-script.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/vendors/nice-select/js/jquery.nice-select.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/mail-script.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/stellar.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/custom.js"></script>

    <script>

        $(document).ready(function(){  
            $('#magazine-button').click(function(){  
                var magazineTitle = $('#magazine-title').val();  
                var magazineThema = $("input[name='themaName']:checked").val(); 
                var magazineContent = $("#magazine-content").html();
                var magazineTag = $('#magazine-tag').val();

                if(magazineTitle != '' && magazineContent != ''){ 
                    var dataJson = {
                        "magazineTitle": magazineTitle,
                        "magazineThema": magazineThema,
                        "magazineContent": magazineContent,
                        "magazineTag": magazineTag
                    } 
                    $.ajax({
                        type: 'POST',
                        url: 'Write{{userId}}',
                        async: false,
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify(dataJson),
                        success: function(response){
                                alert("test1")
                            }
                    })
                    
                    const magazineImage = $("#magazine-file")[0];
                    console.log("magazineImage: ", magazineImage.files)

                    if(magazineImage.files.length === 0){
                        $.ajax({
                            type:"POST",
                            url: "{{ url_for('home_blueprint.upload_no_files', magazine_seq=magazineSeq) }}",
                            async: false,
                            dataType: 'json',
                            contentType: 'application/json',
                            data: {"file": "none"},
                            success: function(response){
                                alert("test2")
                            }
                        })}

                    else {
                        const formData = new FormData();
                        formData.append("image", magazineImage.files[0]);

                        $.ajax({
                            type:"POST",
                            url: "{{ url_for('home_blueprint.upload_files', magazine_seq=magazineSeq) }}",
                            async: false,
                            processData: false,
                            contentType: false,
                            data: formData,
                            success: function(response){
                                if (response['result'] == 'success'){
                                    alert('upload success');
                                    window.location.assign = "{{ url_for('home_blueprint.view_magazine', page_number=1) }}";
                                }
                            }})
                        }
                    }
                else {  
                    alert("Both Fields are required");
                    }  
            }); 
        });  
        
    </script>


{% endblock javascripts %}

<!-- Specific Page JS goes HERE  -->

