{% from 'macros/macros.html' import data_breadcrumb %}
{% extends "layouts/base.html" %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/vendors/linericon/style.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/vendors/owl-carousel/owl.carousel.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/style.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/responsive.css">


{% endblock stylesheets %}

{% block content %}

    {% include 'includes/header.html' %}

    <!--================magazine Categorie Area =================-->
    {{ data_breadcrumb(templateName) }}
    <!--================magazine Categorie Area =================-->
    
    <!--================magazine Area =================-->
    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog_left_sidebar">
                        <div class="comment-form" style="border: 3px solid #ccc;">
                            <h4>매거진 글 작성</h4>
                            <form role="form" method="post" class="post-form" enctype="multipart/form-data">
                                {{ form.csrf_token }}
                                <div class="form-group form-inline">
                                  <div class="form-group col-lg-8 col-md-8">
                                    {{ form.visibleTitle(style="border: 3px solid #ccc;", placeholder="제목을 입력해주세요") }}
                                  </div>
                                  <br><br/>
                                  <div class="form-group col-lg-8 col-md-8">
                                    <label><input type="radio" name="themaName" value="여행" style="border: 3px solid #ccc;" checked> 여행 &nbsp;&nbsp;</label>
                                    <label><input type="radio" name="themaName" value="미식" style="border: 3px solid #ccc;"> 미식 &nbsp;&nbsp;</label>
                                    <label><input type="radio" name="themaName" value="숙소" style="border: 3px solid #ccc;"> 숙소 &nbsp;&nbsp;</label>
                                  </div>										
                                </div>
                                <div class="form-group" contenteditable="true" value="" name="content" id="magazine-content" style="border: 3px solid #ccc; min-height: 30em" required>
                                </div>
                                <div class="form-group">
                                    {{ form.visibleFile(style="border: 3px solid #ccc;", accept="image/*") }}
                                </div>
                                <div class="form-group">
                                    {{ form.visibleTag(style="border: 3px solid #ccc;", placeholder="해시태그를 입력하세요") }}
                                </div>   
                                {{ form.hiddenThema(class="form-copy") }}
                                {{ form.hiddenContent(class="form-copy") }}                               
                                <button type="submit" name="magazine" class="btn btn-outline-warning waves-effect" id="magazine-button" onclick="copy_form()"> 등록하기</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--================magazine Area =================-->
    
    {% include 'includes/footer.html' %}


{% endblock content %}

{% block javascripts %}

    <script src="{{ config.ASSETS_ROOT }}/js/jquery-3.2.1.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/popper.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/bootstrap.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/jquery.ajaxchimp.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/mail-script.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/vendors/nice-select/js/jquery.nice-select.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/mail-script.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/stellar.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/custom.js"></script>

    <script>

        function copy_form(){
                alert("test content copy")

                var magazineThema = $("input[name='themaName']:checked").val();
                var magazineContent = $("#magazine-content").html();

                var hiddenThema = document.getElementById('hidden-thema');
                var hiddenContent = document.getElementById('hidden-content');

                hiddenThema.setAttribute('value', magazineThema);
                hiddenContent.setAttribute('value', magazineContent);
            }

    </script>


{% endblock javascripts %}

<!-- Specific Page JS goes HERE  -->

