{% from 'macros/macros.html' import data_breadcrumb, data_room_detail %}
{% extends "layouts/base.html" %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/vendors/linericon/style.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/vendors/owl-carousel/owl.carousel.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/style.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/responsive.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/calendar.css">

{% endblock stylesheets %}

{% block content %}

    {% include 'includes/header.html' %}
    <!--================Breadcrumb Area =================-->
    {{ data_breadcrumb(templateName) }}
    <!--================Breadcrumb Area =================-->
    
    <!--================ Accomodation Area  =================-->
    <section class="accomodation_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                <h2 class="title_color">{{room['roomName']}}</h2>
                <p>{{room['roomName']}}의 객실 소개</p>
            </div>
            <div class="row mb_30">
                <div class="col-lg-3 col-sm-6">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img src="{{room['roomImage']}}" alt="">
                            <a href="#" class="btn theme_btn button_hover">Book Now</a>
                        </div>
                        <a href="#"><h4 class="sec_h4">{{room['roomNumber']}} 호</h4></a>
                        <p>할인가: {{room['roomSalePrice']}}원<small>&nbsp&nbsp원가: {{room['roomOriginalPrice']}}원</small></p>
                    </div>
                </div>
                <div class="calendar">
                    <div class="header">
                        <button class="calendar_btn" onclick="prevCal();">&lt;</button>
                        <div class="title"><span class="year"></span><span class="month"></span></div>
                        <button class="calendar_btn" onclick="nextCal();">&gt;</button>
                    </div>
                    <div class="day">
                        {% for day in ['일', '월', '화', '수', '목', '금', '토'] %}
                            <div>{{ day }}</div>
                        {% endfor %}
                    </div>
                    <div class="dates"></div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <form role="form" id="reservation_form" name="reservation" onsubmit="formChk()" method="post" class="post-form">
                        <div class="form-group">
                            {{ form.period1(placeholder="", class="form-control") }} ~ {{ form.period2(placeholder="", class="form-control") }}
                            <button class="btn btn-outline-warning waves-effect" onclick="fn_reset()">리셋</button>
                            <button type="submit" name="reservation" class="btn btn-outline-warning waves-effect" id="reservation_button"> 예약 </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--================ Accomodation Area  =================-->


    <!--================ Testimonial Area  =================-->
    {{ data_room_detail(room, zip) }}
    <!--================ Testimonial Area  =================-->
    
    <!--================ Footer Area  =================-->
    {% include 'includes/footer.html' %}
    <!--================ Footer Area  =================-->


{% endblock content %}

{% block javascripts %}

    <script src="{{ config.ASSETS_ROOT }}/js/jquery-3.2.1.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/popper.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/bootstrap.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/jquery.ajaxchimp.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/vendors/nice-select/js/jquery.nice-select.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/mail-script.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/stellar.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/custom.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/calendar.js"></script>

    <script>
        function formChk(){
            const date1 = new Date($("#period_1").val());
            const date2 = new Date($("#period_2").val());

            if(date1 < date2){
                alert("성공");
                document.reservation_form.submit();
                return true;
            }else{
                fn_reset();
            }
        }
    </script>
{% endblock javascripts %}

<!-- Specific Page JS goes HERE  -->

