{% macro data_accomodation(accomodationId, accomodationName, accomodationImage, accomodationPrice, zip, enumerate)%}

<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Normal Accomodation</h2>
            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast,</p>
        </div>
        <div class="row accomodation_two">
            {% for idx, (id, name, image, price) in enumerate(zip(accomodationId, accomodationName, accomodationImage, accomodationPrice)) %}
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="{{ image }}" alt="{{ config.ASSETS_ROOT }}/image/room{{ idx }}.jpg">
                        <a href="{{url_for('home_blueprint.view_room', accomodationId=id)}}" class="btn theme_btn button_hover">Book Now</a>
                    </div>
                    <a href="{{url_for('home_blueprint.view_room', accomodationId=id)}}"><h6 class="sec_h4">{{ name }}</h6></a>
                    <h6>{{price}}<small>hotel</small></h6>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endmacro %}

{% macro data_breadcrumb(name) %}

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">{{name}}</h2>
            <ol class="breadcrumb">
                <li><a href="{{url_for('home_blueprint.index')}}">Home</a></li>
                <li class="active">{{name}}</li>
            </ol>
        </div>
    </div>
</section>

{% endmacro %}

{% macro data_testimonial(userId, userName, testimonialComment, zip) %}

<section class="testimonial_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Testimonial from our Clients</h2>
            <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from </p>
        </div>
        <div class="testimonial_slider owl-carousel">
            {% for id, name, comment in zip(userId, userName, testimonialComment)  %}
            <div class="media testimonial_item">
                <img class="rounded-circle" src="{{ config.ASSETS_ROOT }}/image/userimage/{{id}}.jpg" alt="{{ config.ASSETS_ROOT }}/image/userimage/1.jpg">
                <div class="media-body">
                    <p>{{ comment }} </p>
                    <a href="#"><h4 class="sec_h4">{{ name }}</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}    
        </div>
    </div>
</section>

{% endmacro %}


{% macro data_room_detail(room) %}

<section class="facilities_area section_gap">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">  
    </div>
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_w">{{room['roomName']}} 객실 정보</h2>
            <p>room['roomName']은 다음 시설을 제공합니다.</p>
        </div>
        <div class="row mb_10">

            <div class="col-mg-3 col-md-2">
                <div class="facilities_item">
                    <h6 class="sec_h6"><i class="lnr lnr-clock"></i>체크인</h4>
                    <p>{{ room['roomCheckIn'] }}</p>
                </div>
            </div>
            <div class="col-mg-3 col-md-2">
                <div class="facilities_item">
                    <h6 class="sec_h6"><i class="lnr lnr-clock"></i>체크아웃</h4>
                    <p>{{ room['roomCheckOut'] }}</p>
                </div>
            </div>
            <div class="col-mg-3 col-md-2">
                <div class="facilities_item">
                    <h6 class="sec_h6"><i class="lnr lnr-user"></i>최소 인원</h4>
                    <p>{{ room['roomStandardPopulation'] }}명</p>
                </div>
            </div>
            <div class="col-mg-3 col-md-2">
                <div class="facilities_item">
                    <h6 class="sec_h6"><i class="lnr lnr-user"></i>최대 인원</h4>
                    <p>{{ room['roomUptoPopulation'] }}명</p>
                </div>
            </div>
            <div class="col-mg-3 col-md-2">
                <div class="facilities_item">
                    <h6 class="sec_h6"><i class="lnr lnr-star"></i>별점</h4>
                    <p>{{ room['roomRate']}}점</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endmacro %}